body { 
	margin: 0px;
}

canvas {
	height: 100%;
	width: 100%;
}

button{
	background: #5BC0DE;
	border: 0;
	color: white;
	cursor: pointer;
	padding: .75em;
	margin: .5em;
}

button:hover{
	background: #39B3D7;
}

.top-left-menu{
	position: absolute;
	right: 1em;
	top: 1em;
}

.zoom-menu{
	
}

.zoom-menu > div{
	text-align: center;
}

.zoom-menu button{
	

}

.rotation-menu{

}