html, body { 
	margin: 0px;
	overflow: hidden;
}

canvas {
	height: 100%;
	width: 100%;
}

.hidden{
	display: none !important;
}

button, .file-input{
	background: #297FD5;
	border: 0;
	color: white;
	cursor: pointer;
	padding: .75em;
	margin: .5em;
}

button:hover, .file-input:hover{
	background: #196FC5;
}

.file-input{
	display: inline-block;
}

.file-input > input{
	display: none;
}

#embed-container{
	background: white;
	display: inline-block;
	margin: .5em 0 .5em .5em;
	padding: .75em;
}

.zoom-menu{
	position: absolute;
	right: 1em;
	top: 1em;
}

.zoom-menu > div{
	text-align: center;
}

.rotation-menu{
	position: absolute;
	right: 1em;
	top: 1em;
}

.loader-menu{
	position: absolute;
	left: 1em;
	bottom: 1em;
}

.embed-menu{
	position: absolute;
	right: 1em;
	bottom: 1em;
}